.wrapper{
    width: 100%;
    box-sizing: border-box;
}


.col-12{
    float : left;
    width : 98%;
    margin :  1%;
    background-color: blue;
}

.col-10{
    float : left;
    width : 81.33%;
    margin: 1%;
    background-color: blue;
}

.col-8{
    float : left;
    width : 64.66%;
    margin :  1%;
    background-color: blue;
}

.col-6{
    float : left;
    width : 47.99%;
    margin :  1%;
    background-color: blue;
}

.col-4 {
    float : left;
    width : 31.33%;
    margin :  1%;
    background-color: blue;
}

.col-2{
    float : left;
    width : 14.66%;
    margin :  1%;
    background-color: blue;
}

.offset-2{
    margin-left: 16.66%;
}

.offset-4{
    margin-left : 33.32%;
}

.offset-6{
    margin-left : 49.99%;
}
