@import "variables";

.alert-error, .alert-info, .alert-success, .alert-warning{
  display : block;
  color : white;
  font-style: $alertFontStyle;
  padding : 2%;
  max-width : 100%;
}

.alert-error{
  background-color: $alertErrorBackgroundColor;
}
.alert-info {
  background-color: $alertInfoBackgroundColor;
}
.alert-success {
  background-color: $alertSuccessBackgroundColor;
}
.alert-warning {
  background-color: $alertWarningBackgroundColor;
}