

.btn{
  margin : 5px;
  padding: $btnPadding;
  font-size: $btnFontSize;
  line-height: $btnLineHeight;
  text-align: center;
  background-color: $btnBackgroundColor;
  color: $btnColor;
  border: $btnBorder;
  border-radius: $btnBorderRadius;
  outline: $btnOutline;
}


.btn:hover {
  background-color: $btnHoverBackgroundColor;
  box-shadow: $btnHoverBoxShadow;
  cursor: $btnHoverCursor;
}

.btn:active{
  transform: $btnActiveTransform;
}

button.small{
  font-size: $btnSmallFontSize;
  line-height: $btnSmallLineHeight;
  padding: $btnSmallPadding;
  border-radius: $btnSmallBorderRadius;
  border: $btnSmallBorder;
}


button.large{
  font-size: $btnLargeFontSize;
  line-height: $btnLargeLineHeight;
  padding: $btnLargePadding;
  border-radius: $btnLargeBorderRadius;
  border: $btnLargeBorder;
}

button.blue{
  background-color: dodgerblue;
  color : white;
}
button.blue:hover{
  background-color: darken(dodgerblue,10);
}

button.red {
  background-color: red;
  color: white;
}
button.red:hover{
  background-color: darken(red,10);
}

button.green{
  background-color: green;
  color : white;
}
button.green:hover{
  background-color: darken(green,10);
}

button.flat{
  border: none;
  border-radius: 0%;
}
button.flat:hover{
  box-shadow: none;
}
button.flat:active{
  transform: none;
}

button.extraLarge{
  width : 100%;
  margin : auto;
}

button.fancy{
  transition: transform 1s;
}
button.fancy:hover{
}

button.fancy:hover{
  transform: rotate(360deg) scale(1.5);
}