
.navbar{
  font-weight: $navFontWeight;
  margin : 0;
  padding : 0;
  background-color : $navBackground;
  list-style: none;
  display : flex;
  flex-direction: column;
}

.navbar > li{
  flex-basis: 10%;
  text-align : center;
}

.navbar > li > a{
  padding : 30px 0;
  display : block;
  color : white;
  text-decoration: none;
  width : 100%;
}

.navbar > li.active{
  background-color : $activeNavBackground;
}

.navbar > li.disabled{
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

.navbar > li:hover{
  background-color : $hoverNavBackground;
}

@media screen and (min-width : 600px) {
  .navbar{
    font-size: 1.2em;
    flex-direction: row;
  }

  .navbar> li {
    flex-grow: 1;
    flex-shrink: 1;
  }
}


@media screen and (min-width : 1000px){
  .navbar{
    flex-direction: row;
    justify-content: flex-end;
  }

  .navbar > li {
    flex-grow: 0;
    flex-shrink: 0;
  }
}


