
//---------------------TYPO--------------------------//
$bodyFontFamily : Arial, "Helvetica Neue", Helvetica, sans-serif !default;
$bodyColor : black !default;
$bodyBackgroundColor : white !default;
$bodyWidth : 100% !default;
$h1Color : black !default;
$h2Color : black !default;
$h3Color : black !default;
$h4Color : black !default;
$h5Color : black !default;
$h6Color : black !default;
$h1SmallColor : grey !default;
$h2SmallColor : grey !default;
$h3SmallColor : grey !default;
$h4SmallColor : grey !default;
$h5SmallColor : grey !default;
$h6SmallColor : grey !default;
$hFontWeight : bold !default;
$markBackgroundColor : yellow !default;
$delTextDecoration : line-through !default;
$delColor : red !default;
$UTextDecoration : underline !default;
$strongFontWeight : bold !default;
$emFontStyle : italic !default;
$abbrFontWeight : bold !default;
$abbrTextDecoration : underline !default;
$abbrTextDecorationStyle : dotted !default;
$blockquoteFontStyle : italic !default;
$blockquoteBackgroundColor : lightgrey !default;
$blockquoteFontSize : 1.2em !default;
$blockquoteBorder : 1px dotted black !default;
$codeBackgroundColor : black !default;
$codeColor : white !default;
$codeBorderLeft : 8px solid darkolivegreen !default;
$tableBorder : 1px solid black !default;
$alternTableBackground : lightblue !default;
$hoverTableBackground : lightblue !default;


//---------------------NAVBAR--------------------------//

$navFontWeight : normal !default;
$navBackground : #c2c2c2 !default;
$activeNavBackground : darken($navBackground, 10) !default;
$hoverNavBackground : $activeNavBackground !default;


//---------------------ALERT--------------------------//

$alertFontStyle : oblique !default;
$alertErrorBackgroundColor : red !default;
$alertInfoBackgroundColor : dodgerblue !default;
$alertSuccessBackgroundColor : green !default;
$alertWarningBackgroundColor : orange !default;


//---------------------BUTTONS--------------------------//

$btnBackgroundColor : white !default;
$btnPadding : 1em !default;
$btnLineHeight : 1em !default;
$btnFontSize : 1em !default;
$btnColor : black !default;
$btnBorder : 1px solid lightgray !default;
$btnBorderRadius : 5px !default;
$btnOutline : none !default;
$btnHoverBackgroundColor : #f2f2f2 !default;
$btnHoverBoxShadow : 0 5px 7px 0 rgba(0, 0, 0, 0.15), 0 7px 20px 0 rgba(0, 0, 0, 0.1) !default;
$btnHoverCursor : pointer !default;
$btnActiveTransform : translateY(1px) !default;
$btnSmallFontSize : 75% !default;
$btnSmallLineHeight : 75% !default;
$btnSmallPadding : 0.5em !default;
$btnSmallPadding : 0.5em !default;
$btnSmallBorderRadius : 5px !default;
$btnSmallBorder : $btnBorder !default;
$btnLargeFontSize : 150% !default;
$btnLargeLineHeight : 150% !default;
$btnLargePadding : 1.5em !default;
$btnLargeBorderRadius : 10px !default;
$btnLargeBorder : $btnBorder !default;

//---------------------GRID--------------------------//
$gridColumns : 12;