//To change navbar link font weight
$navFontWeight : bold;

//To change navbar background color
$navBackground : lightskyblue;

//To change navbar active link background color
$activeNavBackground : dodgerblue;

//To change navbar hover link background color
$hoverNavBackground : dodgerblue;