@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ’’;
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

button.btn, button.blue, button.red, button.green, button.extraLarge, button.fancy {
  margin: 5px;
  outline: none;
  border: 1px solid lightgray;
  padding: 1em;
  color: black;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  font-size: 1em;
  line-height: 1em; }
  button.btn:hover, button.blue:hover, button.red:hover, button.green:hover, button.extraLarge:hover, button.fancy:hover {
    cursor: pointer;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.15), 0 7px 20px 0 rgba(0, 0, 0, 0.1);
    background-color: #f2f2f2; }
  button.btn:active, button.blue:active, button.red:active, button.green:active, button.extraLarge:active, button.fancy:active {
    transform: translateY(1px); }

button.small {
  margin: 5px;
  outline: none;
  border: 1px solid lightgray;
  padding: 0.5em;
  color: black;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  font-size: 75%;
  line-height: 75%; }
  button.small:hover {
    cursor: pointer;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.15), 0 7px 20px 0 rgba(0, 0, 0, 0.1);
    background-color: #f2f2f2; }
  button.small:active {
    transform: translateY(1px); }

button.large {
  margin: 5px;
  outline: none;
  border: 1px solid lightgray;
  padding: 1.5em;
  color: black;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  font-size: 150%;
  line-height: 150%; }
  button.large:hover {
    cursor: pointer;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.15), 0 7px 20px 0 rgba(0, 0, 0, 0.1);
    background-color: #f2f2f2; }
  button.large:active {
    transform: translateY(1px); }

button.blue {
  color: white;
  background-color: dodgerblue; }
  button.blue:hover {
    background-color: #0077ea; }

button.red {
  color: white;
  background-color: red; }
  button.red:hover {
    background-color: #cc0000; }

button.green {
  color: white;
  background-color: green; }
  button.green:hover {
    background-color: #004d00; }

button.flat {
  margin: 5px;
  outline: none;
  border: none;
  padding: 1em;
  color: black;
  border-radius: 0;
  background-color: white;
  text-align: center;
  font-size: 1em;
  line-height: 1em; }
  button.flat:hover {
    cursor: pointer;
    box-shadow: none;
    background-color: #f2f2f2; }
  button.flat:active {
    transform: none; }

button.extraLarge {
  width: 100%;
  margin: auto; }

button.fancy {
  transition: transform 1s; }
  button.fancy:hover {
    transform: rotate(360deg) scale(1.5); }

.alert-error {
  display: block;
  color: white;
  font-style: oblique;
  background-color: red;
  padding: 2%;
  max-width: 100%; }

.alert-info {
  display: block;
  color: white;
  font-style: oblique;
  background-color: dodgerblue;
  padding: 2%;
  max-width: 100%; }

.alert-success {
  display: block;
  color: white;
  font-style: oblique;
  background-color: green;
  padding: 2%;
  max-width: 100%; }

.alert-warning {
  display: block;
  color: white;
  font-style: oblique;
  background-color: orange;
  padding: 2%;
  max-width: 100%; }

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: black;
  background-color: white;
  width: 100%;
  margin: auto; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 20px;
  display: block; }

h1 {
  color: black;
  font-size: 50px; }

h1.small, h1 small {
  color: grey;
  font-size: 40px; }

h2 {
  color: black;
  font-size: 40px; }

h2.small, h2 small {
  color: grey;
  font-size: 32px; }

h3 {
  color: black;
  font-size: 35px; }

h3.small, h3 small {
  color: grey;
  font-size: 28px; }

h4 {
  color: black;
  font-size: 28px; }

h4.small, h4 small {
  color: grey;
  font-size: 22px; }

h5 {
  color: black;
  font-size: 20px; }

h5.small, h5 small {
  color: grey;
  font-size: 16px; }

h6 {
  color: black;
  font-size: 15px; }

h6.small, h6 small {
  color: grey;
  font-size: 12px; }

p {
  margin-bottom: 25px; }

mark {
  background-color: yellow; }

del {
  text-decoration: line-through;
  color: red; }

u {
  text-decoration: underline; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

abbr {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-style: dotted; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.align-justify {
  text-align: justify; }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

.capitalize {
  text-transform: capitalize; }

ul {
  display: block;
  padding-left: 1%;
  list-style-type: disc;
  margin-bottom: 25px; }

ul li {
  display: list-item; }

ul.square-style {
  list-style-type: square; }

ul.circle-style {
  list-style-type: circle; }

ul.decoration-none {
  list-style-type: none; }

blockquote {
  display: block;
  text-align: center;
  margin: 3% 12%;
  font-style: italic;
  background-color: lightgrey;
  padding: 2%;
  font-size: 1.2em;
  border: 1px dotted black; }

blockquote:before {
  content: '" '; }

blockquote:after {
  content: ' "'; }

code {
  overflow: scroll;
  white-space: pre;
  font-family: Consolas, monaco, monospace;
  display: block;
  margin: 3% 12%;
  padding: 1%;
  background-color: black;
  color: white;
  border-left: 8px solid darkolivegreen; }

pre {
  display: block;
  white-space: pre;
  margin: 1em 0; }

kbd {
  margin: 1em 0;
  font-family: Consolas, monaco, monospace; }

table {
  margin-top: 10px; }

table.simple-tab {
  border-collapse: collapse;
  text-align: center; }

table.simple-tab, th, td, tr {
  border: 1px solid black;
  padding: 10px 20px; }

table th {
  font-weight: bold; }

table.altern-tab tr:nth-child(2n+1) {
  background-color: lightblue; }

table.active-tab tr:hover {
  background-color: lightblue; }

.navbar {
  font-weight: normal;
  margin: 0;
  padding: 0;
  background-color: #c2c2c2;
  list-style: none;
  display: flex;
  flex-direction: column; }

.navbar > li {
  flex-basis: 10%;
  text-align: center; }

.navbar > li > a {
  padding: 30px 0;
  display: block;
  color: white;
  text-decoration: none;
  width: 100%; }

.navbar > li.active {
  background-color: darkgray; }

.navbar > li.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6; }

.navbar > li:hover {
  background-color: darkgray; }

@media screen and (min-width: 600px) {
  .navbar {
    font-size: 1.2em;
    flex-direction: row; }

  .navbar > li {
    flex-grow: 1;
    flex-shrink: 1; } }
@media screen and (min-width: 1000px) {
  .navbar {
    flex-direction: row;
    justify-content: flex-end; }

  .navbar > li {
    flex-grow: 0;
    flex-shrink: 0; } }
.wrapper {
  width: 100%;
  box-sizing: border-box; }

div.col-sm-1 {
  width: 6.3333333333%;
  float: left;
  margin: 0.5%;
  padding: 0.5%; }

div.col-sm-2 {
  width: 14.6666666667%;
  float: left;
  margin: 0.5%;
  padding: 0.5%; }

div.col-sm-3 {
  width: 23%;
  float: left;
  margin: 0.5%;
  padding: 0.5%; }

div.col-sm-4 {
  width: 31.3333333333%;
  float: left;
  margin: 0.5%;
  padding: 0.5%; }

div.col-sm-5 {
  width: 39.6666666667%;
  float: left;
  margin: 0.5%;
  padding: 0.5%; }

div.col-sm-6 {
  width: 48%;
  float: left;
  margin: 0.5%;
  padding: 0.5%; }

div.col-sm-7 {
  width: 56.3333333333%;
  float: left;
  margin: 0.5%;
  padding: 0.5%; }

div.col-sm-8 {
  width: 64.6666666667%;
  float: left;
  margin: 0.5%;
  padding: 0.5%; }

div.col-sm-9 {
  width: 73%;
  float: left;
  margin: 0.5%;
  padding: 0.5%; }

div.col-sm-10 {
  width: 81.3333333333%;
  float: left;
  margin: 0.5%;
  padding: 0.5%; }

div.col-sm-11 {
  width: 89.6666666667%;
  float: left;
  margin: 0.5%;
  padding: 0.5%; }

div.col-sm-12 {
  width: 98%;
  float: left;
  margin: 0.5%;
  padding: 0.5%; }

div.offset-1 {
  width: 6.3333333333%;
  float: left;
  margin: 0.5%;
  padding: 0.5%; }

div.offset-2 {
  width: 14.6666666667%;
  float: left;
  margin: 0.5%;
  padding: 0.5%; }

div.offset-3 {
  width: 23%;
  float: left;
  margin: 0.5%;
  padding: 0.5%; }

div.offset-4 {
  width: 31.3333333333%;
  float: left;
  margin: 0.5%;
  padding: 0.5%; }

div.offset-5 {
  width: 39.6666666667%;
  float: left;
  margin: 0.5%;
  padding: 0.5%; }

div.offset-6 {
  width: 48%;
  float: left;
  margin: 0.5%;
  padding: 0.5%; }

div.offset-7 {
  width: 56.3333333333%;
  float: left;
  margin: 0.5%;
  padding: 0.5%; }

div.offset-8 {
  width: 64.6666666667%;
  float: left;
  margin: 0.5%;
  padding: 0.5%; }

div.offset-9 {
  width: 73%;
  float: left;
  margin: 0.5%;
  padding: 0.5%; }

div.offset-10 {
  width: 81.3333333333%;
  float: left;
  margin: 0.5%;
  padding: 0.5%; }

div.offset-11 {
  width: 89.6666666667%;
  float: left;
  margin: 0.5%;
  padding: 0.5%; }

@media screen and (min-width: 600px) {
  div.col-md-1 {
    width: 6.3333333333%;
    float: left;
    margin: 0.5%;
    padding: 0.5%; }

  div.col-md-2 {
    width: 14.6666666667%;
    float: left;
    margin: 0.5%;
    padding: 0.5%; }

  div.col-md-3 {
    width: 23%;
    float: left;
    margin: 0.5%;
    padding: 0.5%; }

  div.col-md-4 {
    width: 31.3333333333%;
    float: left;
    margin: 0.5%;
    padding: 0.5%; }

  div.col-md-5 {
    width: 39.6666666667%;
    float: left;
    margin: 0.5%;
    padding: 0.5%; }

  div.col-md-6 {
    width: 48%;
    float: left;
    margin: 0.5%;
    padding: 0.5%; }

  div.col-md-7 {
    width: 56.3333333333%;
    float: left;
    margin: 0.5%;
    padding: 0.5%; }

  div.col-md-8 {
    width: 64.6666666667%;
    float: left;
    margin: 0.5%;
    padding: 0.5%; }

  div.col-md-9 {
    width: 73%;
    float: left;
    margin: 0.5%;
    padding: 0.5%; }

  div.col-md-10 {
    width: 81.3333333333%;
    float: left;
    margin: 0.5%;
    padding: 0.5%; }

  div.col-md-11 {
    width: 89.6666666667%;
    float: left;
    margin: 0.5%;
    padding: 0.5%; }

  div.col-md-12 {
    width: 98%;
    float: left;
    margin: 0.5%;
    padding: 0.5%; } }
@media screen and (min-width: 1000px) {
  div.col-lg-1 {
    width: 6.3333333333%;
    float: left;
    margin: 0.5%;
    padding: 0.5%; }

  div.col-lg-2 {
    width: 14.6666666667%;
    float: left;
    margin: 0.5%;
    padding: 0.5%; }

  div.col-lg-3 {
    width: 23%;
    float: left;
    margin: 0.5%;
    padding: 0.5%; }

  div.col-lg-4 {
    width: 31.3333333333%;
    float: left;
    margin: 0.5%;
    padding: 0.5%; }

  div.col-lg-5 {
    width: 39.6666666667%;
    float: left;
    margin: 0.5%;
    padding: 0.5%; }

  div.col-lg-6 {
    width: 48%;
    float: left;
    margin: 0.5%;
    padding: 0.5%; }

  div.col-lg-7 {
    width: 56.3333333333%;
    float: left;
    margin: 0.5%;
    padding: 0.5%; }

  div.col-lg-8 {
    width: 64.6666666667%;
    float: left;
    margin: 0.5%;
    padding: 0.5%; }

  div.col-lg-9 {
    width: 73%;
    float: left;
    margin: 0.5%;
    padding: 0.5%; }

  div.col-lg-10 {
    width: 81.3333333333%;
    float: left;
    margin: 0.5%;
    padding: 0.5%; }

  div.col-lg-11 {
    width: 89.6666666667%;
    float: left;
    margin: 0.5%;
    padding: 0.5%; }

  div.col-lg-12 {
    width: 98%;
    float: left;
    margin: 0.5%;
    padding: 0.5%; } }

/*# sourceMappingURL=main.css.map */
