@import "mixins/buttons";

.btn{
  @include btn-struct($btnPadding, $btnBorder);
  @include btn-style($btnBackgroundColor, $btnColor, $btnBorderRadius, $btnHoverBackgroundColor, $btnHoverBoxShadow, $btnHoverCursor, $btnActiveTransform);
  @include btn-text($btnFontSize, $btnLineHeight);
}

.small{
  @include btn-struct($btnSmallPadding, $btnSmallBorder);
  @include btn-style($btnBackgroundColor, $btnColor, $btnSmallBorderRadius, $btnHoverBackgroundColor, $btnHoverBoxShadow, $btnHoverCursor, $btnActiveTransform);
  @include btn-text($btnSmallFontSize, $btnSmallLineHeight);
}

.large{
  @include btn-struct($btnLargePadding, $btnLargeBorder);
  @include btn-style($btnBackgroundColor, $btnColor, $btnLargeBorderRadius, $btnHoverBackgroundColor, $btnHoverBoxShadow, $btnHoverCursor, $btnActiveTransform);
  @include btn-text($btnLargeFontSize, $btnLargeLineHeight);
}

.blue{
  @extend .btn;
  color: white;
  background-color: dodgerblue;
  &:hover{
    background-color: darken(dodgerblue,10) ;
  }
}

.red{
  @extend .btn;
  color: white;
  background-color: red;
  &:hover{
    background-color: darken(red,10) ;
  }
}

.green{
  @extend .btn;
  color: white;
  background-color: green;
  &:hover{
    background-color: darken(green,10) ;
  }
}

.flat{
  @include btn-struct($btnPadding, none);
  @include btn-style($btnBackgroundColor, $btnColor, 0, $btnHoverBackgroundColor, none, $btnHoverCursor, none);
  @include btn-text($btnFontSize, $btnLineHeight);
}

.extraLarge{
  @extend .btn;
  width : 100%;
}

.fancy{
  @extend .btn;
  transition: transform 1s;
  &:hover{
    transform: rotate(360deg) scale(1.5);
  }
}