
body {
  font-family: $bodyFontFamily;
  color : $bodyColor;
  background-color : $bodyBackgroundColor;
  width : $bodyWidth;
  margin : auto;

}

a {
  display : inline-block;
}

h1,h2,h3,h4,h5,h6{
  max-width : 100%;
  font-weight: $hFontWeight;
  margin : 2%;
  line-height : 1.2em;
  display : block;
}

h1{
  color : $h1Color;
  font-size : 50px;
}
h1.small, h1 small{
  color : $h1SmallColor;
  font-size : 40px;
}
h2{
  color : $h2Color;
  font-size : 40px;
}
h2.small, h2 small{
  color : $h2SmallColor;
  font-size : 32px;
}
h3{
  color : $h3Color;
  font-size : 35px;
}
h3.small, h3 small{
  color : $h3SmallColor;
  font-size : 28px;
}
h4{
  color : $h4Color;
  font-size : 28px;
}
h4.small, h4 small{
  color : $h4SmallColor;
  font-size : 22px;
}

h5{
  color : $h5Color;
  font-size : 20px;
}
h5.small, h5 small{
  color : $h5SmallColor;
  font-size : 16px;
}

h6{
  color : $h6Color;
  font-size : 15px;
}
h6.small, h6 small{
  color : $h6SmallColor;
  font-size : 12px;
}

p{

  line-height: 1.2em;
  margin-bottom : 25px;
}

mark {
  background-color: $markBackgroundColor;
}

del{
  text-decoration: $delTextDecoration;
  color : $delColor;
}

u{
  text-decoration: $UTextDecoration;
}

strong{
  font-weight: $strongFontWeight;
}

em{
  font-style: $emFontStyle;
}

abbr{
  font-weight: $abbrFontWeight;
  text-decoration: $abbrTextDecoration;
  text-decoration-style: $abbrTextDecorationStyle;
}

.align-left{
  text-align: left;
}
.align-center{
  text-align: center;
}
.align-right{
  text-align: right;
}
.align-justify{
  text-align: justify;
}
.uppercase{
  text-transform: uppercase;
}
.lowercase{
  text-transform: lowercase;
}
.capitalize{
  text-transform: capitalize;
}
ul {
  list-style-position: inside;
  display: block;
  padding-left : 1%;
  list-style-type: disc;
  margin-bottom : 25px;

}
ul li{
  display : list-item;
}

ul.square-style{
  list-style-type: square;
}

ul.circle-style{
  list-style-type: circle;
}

ul.decoration-none{
  list-style-type: none;
}


blockquote{
  display : block;
  text-align : center;
  margin: 3% 12%;
  font-style: $blockquoteFontStyle;
  background-color : $blockquoteBackgroundColor;
  padding : 2%;
  font-size : $blockquoteFontSize;
  border : $blockquoteBorder;
}
blockquote:before{
  content : "\" "
}

blockquote:after{
  content : " \""
}

code{
  max-width : 95%;
  line-height: 1.2em;
  overflow: auto;
  white-space: pre;
  font-family: Consolas, monaco, monospace;
  display : inline-block;
  vertical-align: middle;
  margin : 1%;
  padding : 2%;
  background-color : $codeBackgroundColor;
  color : $codeColor;
  border-left : $codeBorderLeft;
}

pre{
  display : block;
  white-space: pre;
  margin : 1em 0;
}

kbd{
  margin : 1em 0;
  font-family: Consolas, monaco, monospace;
}

table{
  display : inline-block;
  vertical-align: middle;
  margin : 1%;
  padding : 1%;
}

table.simple-tab{
  border-collapse: collapse;
  text-align: center;
}

th, td, tr {
  border: $tableBorder;
  padding : 10px 20px;
}

table th {
  font-weight: bold;
}

table.altern-tab tr:nth-child(2n+1){
  background-color: $alternTableBackground;
}

table.active-tab tr:hover{
  background-color : $hoverTableBackground;
}